<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag(image_path("icon.png"), alt: "error", id: "logo"), root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Trang Chủ", root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Chữ ký số ECDSA <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sinh khóa", ecdsa_generate_key_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sinh chữ ký", ecdsa_generate_signature_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Xác minh chữ ký", "#" %></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
